[submodule "vendor/magit"]
	path = vendor/magit
	url = git://gitorious.org/magit/mainline.git
[submodule "vendor/pymacs"]
	path = vendor/pymacs
	url = git://github.com/pinard/Pymacs.git
[submodule "vendor/slime"]
	path = vendor/slime
	url = git://github.com/nablaone/slime.git
[submodule "vendor/swank-clojure"]
	path = vendor/swank-clojure
	url = git://github.com/technomancy/swank-clojure.git
